/*Import link for the Sacramento & Sour Gummy font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Slab&family=Sacramento&display=swap');

body{
    overflow-x: hidden;
}

h1,h2 
{
    font-family: "Sacramento", sans-serif;
    /*Font from 
    fonts.google.com*/
    font-size: 50px;
    color: #004225;
}

h3
{
    font-family: "Roboto Slab";
    /*Font from
    fonts.google.com*/
    font-size: 25px;
}

p, li 
{
    font-family: "Playfair Display", serif;
    /*Font from
    fonts.google.com*/
    font-size: 18px;
}

#contact {
    text-align: center;
}

/*CONTACT FORM CSS*/

form{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

form input{
    font-family: "Playfair Display", serif;
    /*Font from fonts.google.com*/
    align-items: center;
    font-size: 18px;
    color: rgb(165, 165, 165);
    border: 2px solid rgb(165, 165, 165);
    border-radius: 6px;
    padding: 1px;
    margin: 10px 15px 10px 0px;
    transition: 0.6s ease-out;
}

form label{
    font-family: "Playfair Display", serif;
    /*Font from fonts.google.com*/
    font-size: 18px;
}

form input:focus{
    border: 2px solid #004225;
    color: black;
    outline: none;
    transition: 0.6s ease-out;
}

#Newsletter{
    cursor: pointer;
}

/*FOOTER*/

footer{
    align-items: center;
    margin: 0px -8px -8px -8px;
    background-color: #004225;
    border-top: 8px solid black;
    bottom: -10px;
    color: #fff;
}


table{
    width: 100%;
}



td {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    width: 33%;
}

textarea{
    font-family: "Playfair Display", serif;
    font-size: 18px;
    color: rgb(165, 165, 165);
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: both;
    border-radius: 6px;
    border: 3px solid rgb(165, 165, 165);
    transition: 0.6s ease-out;
    align-items: center;
}

textarea:focus{
    color: black;
    border: 2px solid #004225;
    outline: none;
    transition: 0.6s ease-out;

}